@font-face {
  font-family: 'Lazer';
  src: url('../fonts/Lazer84.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lazer84.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lazer84.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Lazer84.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lazer84.svg#Neoneon') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Idealist';
  src: url('../fonts/Idealist.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Idealist.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Idealist.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Idealist.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Idealist.svg#Idealist') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IdealistLight';
  src: url('../fonts/IdealistLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/IdealistLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/IdealistLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/IdealistLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/IdealistLight.svg#IdealistLight') format('svg'); /* Legacy iOS */
}