$lightgrey: lightgrey;
$light: #fefefe;
$dark: #192231;
$primary: #506190;
$primary_op: hsla(224, 29%, 44%, 0.97);
$primary_light: #a9c2e5;
$primary_blue: hsl(183, 100%, 86%);
$primary_light_op: hsla(215, 54%, 78%, 0.6);
$primary_blue_op: rgba(182, 251, 255, 0.5);
$secondary: #624f78;
$secondary_op: hsla(268, 21%, 39%, 0.95);
$accient: #e04718;
$star-rating: #fdbd39;

$main-gradient: linear-gradient(-120deg, #77559e 0%, #33467b 51%, #41275f 100%);
$neon-gradient: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);
$half-opacity-fradient: linear-gradient(to right, $primary_light_op 0%, $primary_blue_op 100%);

$hex-size: 8rem;
$big-hex-size: 16rem;

$anim: 0.3s;

$main_text: 'Rubik', Helvetica;

body{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
  font-size: 10px;
  font-family: $main_text;
  margin: 0;
//  background: linear-gradient(to top, $primary_op 0%, $secondary_op 100%) no-repeat center, url('../img/ground.jpg') no-repeat center;
  background: linear-gradient(to top, rgba(80, 97, 144, 0.77) 0%, rgba(98, 79, 120, 0.54) 100%) no-repeat center, url('../img/ground8.jpg') no-repeat center;
//  background: linear-gradient(to top, rgba(80, 97, 144, 0.57) 0%, rgba(98, 79, 120, 0.54) 100%) no-repeat center, url('../img/ground3.jpg') no-repeat center;
//  background: linear-gradient(to top, rgba(80, 97, 144, 0.57) 0%, rgba(98, 79, 120, 0.54) 100%) no-repeat center, url('../img/ground4.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: $light;
  transition: $anim*2 all;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#main_container, .page-main-inner, .page{
  display: flex;
  flex-direction: column;
  flex: 1;
}

#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header,
  footer{
    flex: 0;
  }
  main{
    flex: 1;
  } 
}

footer{  
  background-image: $main-gradient;
  padding: 1rem;
}

.screen-section{
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.95);
  position: relative;
  min-height: 100%;
  padding: 0 1rem;
  transition: $anim;
  flex: 1;
  /*router animate*/
  &.load-component{
    transform: scale(1);
    opacity: 1;
  }
}
.main-text{
  font-size: 1rem;
  color: $light;
}
.title{
  &--page{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 1rem 0;
  }
  &--section{
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  &--block{
    font-size: 1.1rem;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
  &--with_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/************************************/

%nowrap{  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%btn{  
  height: 2.5rem;
  border-radius: .3rem;
  padding: 0 1.5rem;
  margin: 1rem auto;
  color: $light;
  text-transform: uppercase;
  border: none;
  transform: scale(1);
}

%field{
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: .75rem 1rem;
  font-size: 1.2rem;
  font-family: $main_text;
  border-width: 1px;
  border-style: solid;
  border-color: $primary_light;  
    background-color: rgba(227, 216, 237, 0.08) !important;
  border-radius: .2rem;
  margin-bottom: 1rem;
  color: $light;
  &::placeholder{
    color: $light;
    opacity: 1;
    transition: opacity $anim ease;      
  }
  &:focus{
    outline: none;
    box-shadow: inset 0 0 5px rgba(204, 163, 241, 0.8); 
    &::placeholder {
      opacity: 0;
    }
  }
}

/************************************/

.btn{
  &--auth{
    @extend %btn;
    width: 80%;
    height: auto;
    margin: 1rem auto;
    padding: 1rem;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(148, 86, 141, 0.68) 0%, rgba(148, 91, 177, 0.56) 100%);
    box-sizing: border-box;
    box-shadow: inset 0 0 20px rgba(204, 163, 241, 0.3);
  }
  &--close{
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border: none;
    
  }
  &--ghost{
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $light;
    background-color: transparent;
    border:none;
  }
  &--send{
    @extend %btn;
    background-image: $neon-gradient;
    background-size: 200% auto;
    color: $light;
    transition: $anim all;
    &:focus{
      box-shadow: 0 0 5px $lightgrey;
    }
    &:hover, &:active{
      outline: none;
      transform: scale(0.95);
      background-position: right center;
    }
  }  
  &--take_quest{
    @extend %btn;
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    margin: 0;
    background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB 51%, #B993D6 100%);
    background-size: 200% auto;
    box-shadow: 
      0 0 5px rgba(202, 202, 202, 0.23);
  }
}

.link{
  &--auth{
    font-size: .8rem;
    color: $light;
    text-align: center;
    margin: auto 0 1.5rem;
    a{
      text-decoration: none;
      color: $primary_blue;
      margin-left: .3rem;
    }
  }
}

.logo {
  position: relative;
  text-align: center;
  transition: $anim;
  &:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 8rem;
    height: 8rem;
    border-radius: .6rem;
    background-image: linear-gradient(to right, rgba(148, 86, 141, 0.3) 0%, rgba(127, 54, 165, 0.27) 100%);
    box-sizing: border-box;
    box-shadow: inset 0 0 20px rgba(204, 163, 241, 0.3);
  }
}

.welcome_text{
  color: #fee;
  font-size: 3rem;    
  transform: rotate(-5deg);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000; 
  span{
    animation: blink linear infinite 5s;
  }
}

header{
  &.open{
    .mobile_nav{
      z-index: 11;
      height: 100vh;
      bottom: 0;
      .menu{
        bottom: 0;
        &_item{
          opacity: 1;
        }
      }
    }
  }
}


.mobile_nav{
  z-index: 10;
  $width: 40rem;
  max-width: 100%;
  position: fixed;
  width: $width;
  height: 0;
  overflow: hidden;
  left: 0;
  bottom: 0;
  transition: $anim*1 all  ease-in-out;
  .menu{    
    bottom: -100vh;
  }
}
.desktop_nav{
  .menu{
    position: relative;
    width: 100%;
    flex-direction: row;
    padding: 0;
  }
  .btn--close{
    display: none;
  }
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem 0 3rem;
  box-sizing: border-box;
  background-image: $main-gradient;
  list-style: none;
  &_item{
    width: 80%;
    max-width: 300px;
    transition: $anim*3 all ease-in;
    opacity: 0;
    @for $i from 1 through 8 {
      &:nth-child(#{$i}){
        transition-delay: $anim * $i/5;
      }
    }
  }
  &_link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    color: $light;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(182, 251, 255, 0.03) 50%, rgba(255, 255, 255, 0));
    margin-bottom: 1rem;
  }
}

.toolbar{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  background-color: $light;
  box-sizing: border-box;
  box-shadow: 0 0 15px $primary_light_op;
  &__link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-image: $neon-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    span{
      font-size: 0.6rem;
      white-space: nowrap;
    }
  }
}

.form{
  &--wrapper{
    display: flex;
    justify-content: center;
    flex: 1;
  }
  &--sign_up,
  &--sign_in{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem 0;
    .material-icons{
      position: absolute;
      top: .75rem;
      left: .75rem;
      &+input{
        padding: .75rem 1rem .5rem 2.5rem;
      }
    }
  }
}

.custom_form{
  &--feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.what-we-do_item{
  display: flex;
  margin-bottom: 1.5rem;
  .main-text{
    flex: 1;
    padding-left: 1rem;
  }
}

.field-block{
  display: flex;
  width: 100%;
  position: relative;  
  &:before{
    content: '';
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  input{
    transition: $anim;
    width: 100%;
    backdrop-filter: grayscale(1) contrast(3) blur(1px);
    @extend %field;
  }
  textarea{    
    height: 5rem;    
    @extend %field;
  }
}

.search__block{
  height: 0;
  overflow: hidden;
  input{
    font-size: 0.8rem;
  }
  &.open{
    height: 2.5rem;
    padding: 0 0 1rem;
    overflow: visible;
  }
}

.category{
  &__dropdown{
    position: absolute;
    z-index: 2;
    top: 2.5rem;    
    height: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    transition: $anim;
    background-color: $light;
    &.open{
      height: auto;
      max-height: 300px;
      overflow-y: scroll;
      padding: 0;
      box-sizing: border-box;
      color: $dark;
      border-radius: .2rem;
    }
  }
  &__item{
    
  }
  &__link{
    display: block;
    padding: 0.5em .75rem;
    color: $dark;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 1px solid $lightgrey;
  }
}

.quest{
  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .5rem .75rem 1.5rem;
    background-image: linear-gradient(to right, rgba(229, 169, 222, 0.3) 0%, rgba(126, 133, 220, 0.4) 100%);
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(204, 163, 241, 0.3);
    margin-bottom: 2rem;
    border-radius: .3rem;
    color: #192231;
    text-decoration: none;
  }
  &__title{
    font-size: 1.3rem;
    color: $light;
    margin: 0;
    padding: .3rem 0;
    @extend %nowrap;
  }
  &__author{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: $light;
    margin: 0 0 .5rem;
    padding: .2rem;
    margin-left: -.2rem;
    @extend %nowrap;
  }
  &__ava{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    background-color: $light;
    box-shadow: 
      0 0 10px $primary_blue_op,
      0 0 5px $primary_blue_op;
    border-radius: 50%;
  }
  &__cat{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;  
    font-size: .9rem;
    span{
      color: $light;
      margin-right: .3rem;
    }
    .star{
      font-size: .8rem;
      margin: .2rem;
      color: $star-rating;
    }
  }
  &__description{
    font-size: 1rem;
  }
  &__reward{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    font-size: 0.8rem;
    border-top: 1px solid $light;
    &--money,
    &--loot,
    &--xp{
      display: flex;
      flex-direction: column;
      span{
        color: $light;
        margin-bottom: .5rem;
      }
    }
    &--loot{
      flex: 2;
      width: 50%;
    }
    &--money,
    &--xp{
      flex: 1;
      width: 25%;
    }
    &--loot{    
    }
    &--xp{
    }
  }
}

.for_profile{
  margin-bottom: 1rem;
  .quest{
    &__title, 
    &__reward--money span, 
    &__reward--xp span, 
    &__reward--loot span, 
    &__cat span, 
    &__author{
      color: $primary;
    }
  }
}

.block{  
  &--with-bg{
    min-height: 70vh;
    flex: 1;
    padding: 1.5rem 1rem 2rem;
    background: $light;
    color: $dark;
    box-sizing: border-box;
  }
  &--without-bg{    
    min-height: 30vh;
    box-shadow: 
      0 5px 14px 0px rgba(126, 133, 220, 0.6);
  }
}


.quest__page{
  .quest{
    &__title{
      white-space: normal;
      &:after{
        content: '';
        display: block;
        width: 50px;        
        height: 3px;
        margin: 1rem 0;
        background-color: $light;        
      }
    }
    &__author{
      color: $light;
    }
    &__main{
      margin: 0 -1rem;
      &.block--without-bg{
        min-height: auto;
        padding: 1rem 1rem 0;
      }
      &.block--with-bg{
        padding-top: 3rem;
      }
    }
    &__cat{
      margin: 0 0 1rem;
      font-size: .9rem;
      span{
        color: $primary_light;
      }
      .star{
        font-size: 1.2rem;
      }
    }
    &__reward{
      position: relative;
      z-index: 10;
      margin: 1rem 1rem -1.5rem;
      padding: .75rem;
      background: $light;
      border-radius: .2rem;
      border: none;
      box-shadow:
        0 0 5px $primary_light;
      &--money,
      &--loot,
      &--xp{
        align-items: flex-start;
        justify-content: flex-start;
        color: $primary;
        span{
          color: $primary_light;
        }
      }
    }
  }
  .btn--take_quest{
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    bottom: auto;
    margin-top: 3rem;
  }
}

.profile{
  &__tab{
    margin: 0;
    padding: 0;
    &--main{
      
    }
  }
  &__block{
    &--main{
      position: relative;
      padding: .5rem 0 1rem;
      min-height: 2rem;
      transition: $anim;
      &.full{
        min-height: 30vh;
        overflow: hidden;
        .profile__header{
          padding-top: 1rem;
          opacity: 1;
          height: 10rem;
          transform: scale(1);          
        }
      }
      p{
        margin: 0;
      }
    }
    &--moreinfo{}
  }
  &__header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0;
    opacity: 0;
    height: 0;
    transition: $anim*2;
    transform: scale(0);    
  }
  &__avatar{
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: 
      inset 0 6px 4px -5px rgba(126, 133, 220, 0.4);
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
      background-color: $light;
    }
  }
  &__logout,
  &__link-settings{
    position: absolute;
    top: -.5rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: $light;
    text-decoration: none;
  }
  &__logout{
    right: auto;
    left: 0;
  }
  &__name{
    font-size: 1.2rem;
    line-height: 1.2;
  }
  &__level{
    span{
      color: $star-rating;
    }
  }
  &__tabs{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 1rem 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
  &__tab-link{
    position: relative;
    flex: 1;
    a{
      display: block;
      padding: .5rem 0;
      text-align: center;
      color: $light;
      font-size: .9rem;
      text-decoration: none;
    }
    &.active{
      &:before{
        position: absolute;
        bottom: 0;
        content: '';
        height: 2px;
        width: 100%;
        background-image: $neon-gradient;
      }
    }
  }
  &__card{
    opacity: 1;
    transform: scale(1);
    transition: $anim;
    &.hidden{
      opacity: 0;
      transform: scale(.98);
    }
  }
  &__props{
    span{
      display: block;
      font-weight: 500;
    }
  }
}

.card{
  &__panel{
    position: relative;
    display: flex;
    width: 100%;
    padding: 1.5rem 1rem 1rem 2rem;
    min-height: 3rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
    box-sizing: border-box;
    box-shadow: 
      inset 0 2px 5px -2px rgba(126, 133, 220, 0.4), 
      0 0 15px $primary_light_op;
    &:before{
      content: '';
      position: absolute;
      left: 1.2rem;
      top: 2rem;
      width: 2px;      
      height: calc(100% - 3rem);
      background-image: $neon-gradient;
    }
  }
  &__header{}
  &__ico{
    position: absolute;
    font-size: 1rem;
    top: .75rem;
    left: .75rem;
    background-image: $neon-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.switch{
  &--auth{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 1rem;
    padding: 0;
    list-style: none;
    .btn--auth-switch{
      display: flex;
      align-items: center;
      width: 80%;
      margin: 0 auto 1rem;
      padding: 1rem 1.5rem 1rem 0.5rem;
      font-size: 1rem;
      color: $light;
      border-radius: .3rem;
      background-image: linear-gradient(to right, rgba(148, 86, 141, 0.68) 0%, rgba(148, 91, 177, 0.56) 100%);
      text-transform: uppercase;
      text-decoration: none;
      box-sizing: border-box;
      .material-icons{
        position: relative;
        margin-right: .5rem;
        padding-right: .5rem;
        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          height: 100%;
          border-right: 1px solid $light;
        }
      }
    }
  }
}

.start-page{
  display: flex;
  flex-direction: column;
  .logo{
    margin: 6rem 0;
  }
  &.with-form{
    .logo{
      margin: 3rem 0;
    }    
  }
}

/*animation*/
@keyframes blink {
  88% {
    color: inherit;
    text-shadow: inherit;
  }
  90%{
     color: #333;
  }
  91% {
    
    text-shadow: none;
  }
  93% {
    color: inherit;
    text-shadow: inherit;
  }
  94% {
    color: #333;
    text-shadow: none;
  }
  95% {
    color: inherit;
    text-shadow: inherit;
  }
  97% {
    color: #333;
    text-shadow: none;
  }
  99% {
    color: inherit;
    text-shadow: inherit;
  }
}