$lightgrey: lightgrey;
$light: #fff;
$dark: #192231;
$primary: #506190;
$primary_op: hsla(224, 29%, 44%, 0.97);
$secondary: #614e77;
$secondary_op: hsla(268, 21%, 39%, 0.95);
$accient: #e04718;

$hex-size: 8rem;
$big-hex-size: 16rem;

$anim: 0.3s;

$main_text: 'Comfortaa', Helvetica;

body{
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
  font-size: 10px;
  font-family: $main_text;
  margin: 0;
  background: linear-gradient(to top, $primary_op 0%, $secondary_op 100%) no-repeat center, url('../img/9ewsT3r.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: $light;
  transition: $anim*2 all;
}

.screen-section{
  min-height: 100%;
  padding: 0 1rem;
}
.main-text{
  font-size: 1rem;
  color: $light;
}
.title{
  &--page{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 1rem 0;
  }
  &--section{
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  &--block{
    font-size: 1.1rem;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
  &--with_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/************************************/


%hex{  
  background-image: linear-gradient(to right, #6fd4d1 0%, #91e6d3 51%, #6fd4d1 100%);
  background-size: 200% auto;
  transition: $anim all;
  -webkit-clip-path: url("#hex");
  clip-path: url("#hex");
  &:hover{
    background-position: right center;
  }
}

%nowrap{  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%btn{  
  height: 2.5rem;
  border-radius: .3rem;
  padding: 0 1.5rem;
  margin: 1rem auto;
  color: $light;
  text-transform: uppercase;
  border: none;
  transform: scale(1);
}

%field{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem .75rem;
    font-size: 1.2rem;
    font-family: $main_text;
    border: none;
    background-color: $light;
    border-radius: .3rem;
    margin-bottom: 1rem;
  &:focus{
    outline: none;
    box-shadow: 0 0 5px $accient;
  }
}

/************************************/


.hex {
  height: $hex-size;
  width: $hex-size;
  margin: auto;
  @extend %hex;
}

.btn{
  &--send{
    @extend %btn;
    background-image: linear-gradient(to right, #6fd4d1 0%, #91e6d3 51%, #6fd4d1 100%);
    background-size: 200% auto;
    color: $light;
    transition: $anim all;
    &:focus{
      box-shadow: 0 0 5px $lightgrey;
    }
    &:hover, &:active{
      outline: none;
      transform: scale(0.95);
      background-position: right center;
    }
  }
  &--ghost{
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $light;
    background-color: transparent;
    border:none;
  }
  &--close{
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border: none;
    
  }
  &--take_quest{
    @extend %btn;
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    margin: 0;
    background-image: linear-gradient(to right, #6fd4d1 0%, #91e6d3 51%, #6fd4d1 100%);
    background-size: 200% auto;
    box-shadow: 
      0 0 20px rgba(182, 251, 255, 0.5),
      0 0 10px rgba(182, 251, 255, 0.5);
  }
}

header{
  &.open{
    .mobile_nav{
      left: 0;
      .menu_item{
        opacity: 1;
      }
    }
  }
}


.mobile_nav{
  $width: 40rem;
  max-width: 100%;
  position: absolute;
  width: $width;
  height: 100%;
  top: 0;
  left: -$width;
  transition: $anim all;
}
.desktop_nav{
  .menu{
    position: relative;
    width: 100%;
    flex-direction: row;
    padding: 0;
  }
  .btn--close{
    display: none;
  }
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0;
  box-sizing: border-box;
//  background-color: $primary;
  background-image: linear-gradient(-120deg, $secondary_op 0%, $primary 51%, $secondary_op 100%);
  list-style: none;
  &_item{
    width: 80%;
    max-width: 300px;
    transition: $anim all;
    opacity: 0;
  }
  &_link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    color: $light;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 0.03) 50%, rgba(255, 255, 255, 0));
    margin-bottom: 1rem;
  }
}

.custom_form{
  &--feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.what-we-do_item{
  display: flex;
  margin-bottom: 1.5rem;
  .main-text{
    flex: 1;
    padding-left: 1rem;
  }
}

.field-block{
  display: flex;
  width: 100%;
  position: relative;
  input{
    transition: $anim;
    width: 100%;
    height: 2.5rem;
    @extend %field;
  }
  textarea{    
    height: 5rem;    
    @extend %field;
  }
}

.search__block{
    height: 0;
  input{
    font-size: 0.8rem;
  }
  &.open{
    height: 2.5rem;
    padding: 0 0 1rem;
  }
}

.category{
  &__dropdown{
    position: absolute;
    z-index: 2;
    top: 2.5rem;    
    height: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    transition: $anim;
    background-color: $light;
    &.open{
      height: auto;
      max-height: 300px;
      overflow-y: scroll;
      padding: 0;
      box-sizing: border-box;
      color: $dark;
      border-radius: .2rem;
    }
  }
  &__item{
    
  }
  &__link{
    display: block;
    padding: 0.5em .75rem;
    color: $dark;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 1px solid $lightgrey;
  }
}

.quest{
  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .5rem .75rem 1.5rem;
    background-color: $light;
//    background-image: linear-gradient(to right, #a9c2e5 0%, #b6fbff 100%);
    box-sizing: border-box;
    box-shadow: 
      0 0 25px rgba(182, 251, 255, 0.5),
      0 0 20px rgba(182, 251, 255, 0.5),
      0 0 10px rgba(182, 251, 255, 0.5);
    margin-bottom: 2rem;
    border-radius: .3rem;
    color: $dark;
    text-decoration: none;
  }
  &__title{
    font-size: 1.3rem;
    color: $accient;
    margin: 0;
    padding: .3rem 0;
    @extend %nowrap;
  }
  &__author{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: $primary;
    margin: 0 0 .5rem;
    padding: .2rem;
    margin-left: -.2rem;
    @extend %nowrap;
  }
  &__ava{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    box-shadow: 
      0 0 10px rgba(182, 251, 255, 0.5),
      0 0 5px rgba(182, 251, 255, 0.5)
      ;
    border-radius: 50%;
  }
  &__cat{
    margin-bottom: .5rem;    
    span{
      color: $lightgrey;
    }
  }
  &__description{
    font-size: 1rem;
  }
  &__reward{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    border-top: 1px solid $lightgrey;
    &--money,
    &--loot,
    &--xp{
      display: flex;
      flex-direction: column;
      span{
        color: $lightgrey;
        margin-bottom: .5rem;
      }
    }
    &--loot{
      flex-basis: 2;
      width: 50%;
    }
    &--money,
    &--xp{
      flex-basis: 1;
      width: 25%;
    }
    &--loot{    
    }
    &--xp{
    }
  }
}


.quest__item--full{
  padding: 1.5rem 1rem 4rem;
  .quest{
    &__title{
      white-space: normal;
    }
  }
  .btn--take_quest{
    width: 80%;
    left: 10%;
    right: 10%;
  }
}