$lightgrey: lightgrey;
$light: #fff;
$dark: #192231;
$primary: #506190;
$primary_op: hsla(224, 29%, 44%, 0.97);
$primary_light: #a9c2e5;
$primary_light_op: hsla(215, 54%, 78%, 0.8);
$primary_blue_op: rgba(182, 251, 255, 0.5);
$secondary: #614e77;
$secondary_op: hsla(268, 21%, 39%, 0.95);
$accient: #e04718;
$star-rating: #fdbd39;

$main-gradient: linear-gradient(-120deg, $secondary 0%, $primary 51%, $secondary 100%);
$neon-gradient: linear-gradient(to right, #6fd4d1 0%, #91e6d3 51%, #6fd4d1 100%);
$half-opacity-fradient: linear-gradient(to right, $primary_light_op 0%, $primary_blue_op 100%);

$hex-size: 8rem;
$big-hex-size: 16rem;

$anim: 0.3s;

$main_text: 'Rubik', Helvetica;

body{
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
  font-size: 10px;
  font-family: $main_text;
  margin: 0;
  background: linear-gradient(to top, $primary_op 0%, $secondary_op 100%) no-repeat center, url('../img/9ewsT3r.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: $light;
  transition: $anim*2 all;
}

#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header,
  footer{
    flex: 0;
  }
  main{
    flex: 1;
  } 
}

footer{  
  background-image: $main-gradient;
  padding: 1rem;
}

.screen-section{
  position: relative;
  min-height: 100%;
  padding: 0 1rem;
}
.main-text{
  font-size: 1rem;
  color: $light;
}
.title{
  &--page{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 1rem 0;
  }
  &--section{
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  &--block{
    font-size: 1.1rem;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
  &--with_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/************************************/

%nowrap{  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%btn{  
  height: 2.5rem;
  border-radius: .3rem;
  padding: 0 1.5rem;
  margin: 1rem auto;
  color: $light;
  text-transform: uppercase;
  border: none;
  transform: scale(1);
}

%field{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem .75rem;
    font-size: 1.2rem;
    font-family: $main_text;
    border: none;
    background-color: $light;
    border-radius: .3rem;
    margin-bottom: 1rem;
  &:focus{
    outline: none;
    box-shadow: 0 0 5px $accient;
  }
}

/************************************/

.btn{
  &--send{
    @extend %btn;
    background-image: $neon-gradient;
    background-size: 200% auto;
    color: $light;
    transition: $anim all;
    &:focus{
      box-shadow: 0 0 5px $lightgrey;
    }
    &:hover, &:active{
      outline: none;
      transform: scale(0.95);
      background-position: right center;
    }
  }
  &--ghost{
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $light;
    background-color: transparent;
    border:none;
  }
  &--close{
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border: none;
    
  }
  &--take_quest{
    @extend %btn;
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    margin: 0;
    background-image: $neon-gradient;
    background-size: 200% auto;
    box-shadow: 
      0 0 20px $primary_blue_op,
      0 0 10px $primary_blue_op;
  }
}

header{
  &.open{
    .mobile_nav{
      left: 0;
      .menu_item{
        opacity: 1;
      }
    }
  }
}


.mobile_nav{
  $width: 40rem;
  max-width: 100%;
  position: absolute;
  width: $width;
  height: 100%;
  top: 0;
  left: -$width;
  z-index: 100;
  transition: $anim all;
}
.desktop_nav{
  .menu{
    position: relative;
    width: 100%;
    flex-direction: row;
    padding: 0;
  }
  .btn--close{
    display: none;
  }
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0;
  box-sizing: border-box;
  background-image: $main-gradient;
  list-style: none;
  &_item{
    width: 80%;
    max-width: 300px;
    transition: $anim all;
    opacity: 0;
  }
  &_link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    color: $light;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(182, 251, 255, 0.03) 50%, rgba(255, 255, 255, 0));
    margin-bottom: 1rem;
  }
}

.custom_form{
  &--feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.what-we-do_item{
  display: flex;
  margin-bottom: 1.5rem;
  .main-text{
    flex: 1;
    padding-left: 1rem;
  }
}

.field-block{
  display: flex;
  width: 100%;
  position: relative;
  input{
    transition: $anim;
    width: 100%;
    height: 2.5rem;
    @extend %field;
  }
  textarea{    
    height: 5rem;    
    @extend %field;
  }
}

.search__block{
  height: 0;
  overflow: hidden;
  input{
    font-size: 0.8rem;
  }
  &.open{
    height: 2.5rem;
    padding: 0 0 1rem;
    overflow: visible;
  }
}

.category{
  &__dropdown{
    position: absolute;
    z-index: 2;
    top: 2.5rem;    
    height: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    transition: $anim;
    background-color: $light;
    &.open{
      height: auto;
      max-height: 300px;
      overflow-y: scroll;
      padding: 0;
      box-sizing: border-box;
      color: $dark;
      border-radius: .2rem;
    }
  }
  &__item{
    
  }
  &__link{
    display: block;
    padding: 0.5em .75rem;
    color: $dark;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 1px solid $lightgrey;
  }
}

.quest{
  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .5rem .75rem 1.5rem;
    background-image: $half-opacity-fradient;
    box-sizing: border-box;
    box-shadow: 
      0 0 25px rgba(182, 251, 255, 0.2), 
      0 0 20px rgba(182, 251, 255, 0.3), 
      inset 0 0 10px rgba(182, 251, 255, 0.3);
    margin-bottom: 2rem;
    border-radius: .3rem;
    color: $dark;
    text-decoration: none;
  }
  &__title{
    font-size: 1.3rem;
    color: $light;
    margin: 0;
    padding: .3rem 0;
    @extend %nowrap;
  }
  &__author{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: $light;
    margin: 0 0 .5rem;
    padding: .2rem;
    margin-left: -.2rem;
    @extend %nowrap;
  }
  &__ava{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    background-color: $light;
    box-shadow: 
      0 0 10px $primary_blue_op,
      0 0 5px $primary_blue_op;
    border-radius: 50%;
  }
  &__cat{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;  
    font-size: .9rem;
    span{
      color: $light;
      margin-right: .3rem;
    }
    .star{
      font-size: .8rem;
      margin: .2rem;
      color: $star-rating;
    }
  }
  &__description{
    font-size: 1rem;
  }
  &__reward{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    font-size: 0.8rem;
    border-top: 1px solid $light;
    &--money,
    &--loot,
    &--xp{
      display: flex;
      flex-direction: column;
      span{
        color: $light;
        margin-bottom: .5rem;
      }
    }
    &--loot{
      flex: 2;
      width: 50%;
    }
    &--money,
    &--xp{
      flex: 1;
      width: 25%;
    }
    &--loot{    
    }
    &--xp{
    }
  }
}


.quest__page{
  .quest{
    &__title{
      white-space: normal;
      &:after{
        content: '';
        display: block;
        width: 50px;        
        height: 3px;
        margin: 1rem 0;
        background-color: $light;        
      }
    }
    &__author{
      color: $light;
    }
    &__main{
      &--with-bg{
        min-height: calc(100vh - 3rem);
        margin: 0 -1rem;
        padding: 3.5rem 1rem 2rem;
        background: $light;
        color: $dark;
        box-shadow: 
          inset 0 6px 4px -4px $primary_light,
          0 1px 3px 1px $primary_light;
      }
      &--without-bg{
        
      }
    }
    &__cat{
      margin: 0 0 1rem;
      font-size: .9rem;
      span{
        color: $primary_light;
      }
      .star{
        font-size: 1.2rem;
      }
    }
    &__reward{
      position: relative;
      z-index: 10;
      margin: 1rem 0 -1.5rem;
      padding: .75rem;
      background: $light;
      border-radius: .2rem;
      border: none;
      box-shadow: 
        0 0 5px $primary_light;
      &--money,
      &--loot,
      &--xp{
        align-items: flex-start;
        justify-content: flex-start;
        color: $primary;
        span{
          color: $primary_light;
        }
      }
    }
  }
  .btn--take_quest{
    width: 80%;
    left: 10%;
    right: 10%;
    bottom: auto;
    margin-top: 3rem;
  }
}