/* line 15, Z:/project/EpicLoot/public/compile/style.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 10px;
  font-family: "Comfortaa", Helvetica;
  margin: 0;
  background: linear-gradient(to top, rgba(31, 28, 44, 0.9) 0%, rgba(146, 141, 170, 0.95) 100%) no-repeat center, url("../img/9ewsT3r.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  transition: 0.6s all; }

/* line 29, Z:/project/EpicLoot/public/compile/style.scss */
.screen-section {
  min-height: 100%;
  padding: 0 1rem; }

/* line 33, Z:/project/EpicLoot/public/compile/style.scss */
.main-text {
  font-size: 1rem;
  color: #fff; }

/* line 38, Z:/project/EpicLoot/public/compile/style.scss */
.title--page {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 1rem 0; }

/* line 43, Z:/project/EpicLoot/public/compile/style.scss */
.title--section {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem; }

/* line 48, Z:/project/EpicLoot/public/compile/style.scss */
.title--block {
  font-size: 1.1rem;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 1rem; }

/* line 54, Z:/project/EpicLoot/public/compile/style.scss */
.title--with_action {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 61, Z:/project/EpicLoot/public/compile/style.scss */
.hex {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  background-size: 200% auto;
  transition: 0.3s all;
  -webkit-clip-path: url("#hex");
  clip-path: url("#hex"); }
  /* line 67, Z:/project/EpicLoot/public/compile/style.scss */
  .hex:hover {
    background-position: right center; }

/* line 72, Z:/project/EpicLoot/public/compile/style.scss */
.hex {
  height: 8rem;
  width: 8rem;
  margin: auto; }

/* line 79, Z:/project/EpicLoot/public/compile/style.scss */
.quest__title, .quest__author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* line 85, Z:/project/EpicLoot/public/compile/style.scss */
.btn--send, .btn--take_quest {
  height: 2.5rem;
  border-radius: .2rem;
  padding: 0 1.5rem;
  margin: 1rem auto;
  text-transform: uppercase;
  border: none;
  transform: scale(1); }

/* line 96, Z:/project/EpicLoot/public/compile/style.scss */
.btn--send {
  background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7 51%, #1CD8D2 100%);
  background-size: 200% auto;
  color: #fff;
  transition: 0.3s all; }
  /* line 102, Z:/project/EpicLoot/public/compile/style.scss */
  .btn--send:focus {
    box-shadow: 0 0 5px lightgrey; }
  /* line 105, Z:/project/EpicLoot/public/compile/style.scss */
  .btn--send:hover, .btn--send:active {
    outline: none;
    transform: scale(0.95);
    background-position: right center; }

/* line 111, Z:/project/EpicLoot/public/compile/style.scss */
.btn--ghost {
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  border: none; }

/* line 121, Z:/project/EpicLoot/public/compile/style.scss */
.btn--close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none; }

/* line 129, Z:/project/EpicLoot/public/compile/style.scss */
.btn--take_quest {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  margin: 0;
  background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7 51%, #1CD8D2 100%);
  background-size: 200% auto; }

/* line 142, Z:/project/EpicLoot/public/compile/style.scss */
header.open .mobile_nav {
  left: 0; }

/* line 149, Z:/project/EpicLoot/public/compile/style.scss */
.mobile_nav {
  max-width: 100%;
  position: absolute;
  width: 40rem;
  height: 100%;
  top: 0;
  left: -40rem;
  transition: 0.3s all; }

/* line 160, Z:/project/EpicLoot/public/compile/style.scss */
.desktop_nav .menu {
  position: relative;
  width: 100%;
  flex-direction: row;
  padding: 0; }

/* line 166, Z:/project/EpicLoot/public/compile/style.scss */
.desktop_nav .btn--close {
  display: none; }

/* line 171, Z:/project/EpicLoot/public/compile/style.scss */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0;
  box-sizing: border-box;
  background-color: #494e68;
  list-style: none; }
  /* line 188, Z:/project/EpicLoot/public/compile/style.scss */
  .menu_link {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff; }

/* line 200, Z:/project/EpicLoot/public/compile/style.scss */
.custom_form--feedback {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 207, Z:/project/EpicLoot/public/compile/style.scss */
.what-we-do_item {
  display: flex;
  margin-bottom: 1.5rem; }
  /* line 210, Z:/project/EpicLoot/public/compile/style.scss */
  .what-we-do_item .main-text {
    flex: 1;
    padding-left: 1rem; }

/* line 216, Z:/project/EpicLoot/public/compile/style.scss */
.field-block input, .field-block textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem .75rem;
  font-size: 1.2rem;
  font-family: "Comfortaa", Helvetica;
  border: none;
  background-color: #fff;
  border-radius: .2rem;
  margin-bottom: 1rem; }
  /* line 226, Z:/project/EpicLoot/public/compile/style.scss */
  .field-block input:focus, .field-block textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #e04718; }

/* line 232, Z:/project/EpicLoot/public/compile/style.scss */
.field-block {
  display: flex;
  width: 100%;
  position: relative; }
  /* line 236, Z:/project/EpicLoot/public/compile/style.scss */
  .field-block input {
    transition: 0.3s;
    width: 100%;
    height: 2.5rem; }
  /* line 242, Z:/project/EpicLoot/public/compile/style.scss */
  .field-block textarea {
    height: 5rem; }

/* line 248, Z:/project/EpicLoot/public/compile/style.scss */
.search__block {
  height: 0; }
  /* line 250, Z:/project/EpicLoot/public/compile/style.scss */
  .search__block input {
    font-size: 0.8rem; }
  /* line 253, Z:/project/EpicLoot/public/compile/style.scss */
  .search__block.open {
    height: 2.5rem;
    padding: 0 0 1rem; }

/* line 260, Z:/project/EpicLoot/public/compile/style.scss */
.category__dropdown {
  position: absolute;
  z-index: 2;
  top: 2.5rem;
  height: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  transition: 0.3s;
  background-color: #fff; }
  /* line 270, Z:/project/EpicLoot/public/compile/style.scss */
  .category__dropdown.open {
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
    padding: 0;
    box-sizing: border-box;
    color: #192231;
    border-radius: .2rem; }

/* line 283, Z:/project/EpicLoot/public/compile/style.scss */
.category__link {
  display: block;
  padding: 0.5em .75rem;
  color: #192231;
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: 1px solid lightgrey; }

/* line 294, Z:/project/EpicLoot/public/compile/style.scss */
.quest__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: .5rem .75rem 1.5rem;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 10px lightgrey;
  margin-bottom: 2rem;
  border-radius: .2rem;
  color: #192231;
  text-decoration: none; }

/* line 307, Z:/project/EpicLoot/public/compile/style.scss */
.quest__title {
  font-size: 1.3rem;
  color: #e04718;
  margin: 0;
  padding: .3rem 0; }

/* line 314, Z:/project/EpicLoot/public/compile/style.scss */
.quest__author {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #494e68;
  margin: 0 0 .5rem; }

/* line 322, Z:/project/EpicLoot/public/compile/style.scss */
.quest__ava {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  box-shadow: 0 0 5px lightgrey;
  border-radius: 50%; }

/* line 330, Z:/project/EpicLoot/public/compile/style.scss */
.quest__cat {
  margin-bottom: .5rem; }
  /* line 332, Z:/project/EpicLoot/public/compile/style.scss */
  .quest__cat span {
    color: lightgrey; }

/* line 336, Z:/project/EpicLoot/public/compile/style.scss */
.quest__description {
  font-size: 1rem; }

/* line 339, Z:/project/EpicLoot/public/compile/style.scss */
.quest__reward {
  display: flex;
  justify-content: space-around;
  padding: .5rem 0;
  border-top: 1px solid lightgrey; }
  /* line 344, Z:/project/EpicLoot/public/compile/style.scss */
  .quest__reward--money, .quest__reward--loot, .quest__reward--xp {
    display: flex;
    flex-direction: column; }
    /* line 349, Z:/project/EpicLoot/public/compile/style.scss */
    .quest__reward--money span, .quest__reward--loot span, .quest__reward--xp span {
      color: lightgrey;
      margin-bottom: .5rem; }
  /* line 354, Z:/project/EpicLoot/public/compile/style.scss */
  .quest__reward--loot {
    flex-basis: 2;
    width: 50%; }
  /* line 358, Z:/project/EpicLoot/public/compile/style.scss */
  .quest__reward--money, .quest__reward--xp {
    flex-basis: 1;
    width: 25%; }

/* line 371, Z:/project/EpicLoot/public/compile/style.scss */
.quest__item--full {
  padding: 1.5rem 1rem 4rem; }
  /* line 374, Z:/project/EpicLoot/public/compile/style.scss */
  .quest__item--full .quest__title {
    white-space: normal; }
  /* line 378, Z:/project/EpicLoot/public/compile/style.scss */
  .quest__item--full .btn--take_quest {
    width: 80%;
    left: 10%;
    right: 10%; }

/*# sourceMappingURL=style.css.map */