/* line 15, Z:/project/my_app/public/compile/style.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 10px;
  font-family: "Comfortaa", Helvetica;
  margin: 0;
  background: linear-gradient(to top, rgba(73, 79, 105, 0.99), rgba(152, 94, 109, 0.9)) no-repeat center, url("../img/9ewsT3r.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  transition: 0.6s all; }

/* line 29, Z:/project/my_app/public/compile/style.scss */
.screen-section {
  min-height: 100%;
  padding: 2rem 1rem; }

/* line 33, Z:/project/my_app/public/compile/style.scss */
.main-text {
  font-size: 1rem;
  color: #fff; }

/* line 38, Z:/project/my_app/public/compile/style.scss */
.title--page {
  font-size: 1.4rem;
  font-weight: normal; }

/* line 42, Z:/project/my_app/public/compile/style.scss */
.title--section {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem; }

/* line 47, Z:/project/my_app/public/compile/style.scss */
.title--block {
  font-size: 1.1rem;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 1rem; }

/* line 55, Z:/project/my_app/public/compile/style.scss */
.hex {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  background-size: 200% auto;
  transition: 0.3s all;
  -webkit-clip-path: url("#hex");
  clip-path: url("#hex"); }
  /* line 61, Z:/project/my_app/public/compile/style.scss */
  .hex:hover {
    background-position: right center; }

/* line 66, Z:/project/my_app/public/compile/style.scss */
.hex {
  height: 8rem;
  width: 8rem;
  margin: auto; }

/* line 73, Z:/project/my_app/public/compile/style.scss */
.btn--send {
  height: 2.5rem;
  border-radius: .2rem;
  padding: 0 1.5rem;
  margin: 1rem auto;
  text-transform: uppercase;
  border: none;
  transform: scale(1); }

/* line 84, Z:/project/my_app/public/compile/style.scss */
.btn--send {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  background-size: 200% auto;
  color: #fff;
  transition: 0.3s all; }
  /* line 90, Z:/project/my_app/public/compile/style.scss */
  .btn--send:focus {
    box-shadow: 0 0 5px lightgrey; }
  /* line 93, Z:/project/my_app/public/compile/style.scss */
  .btn--send:hover, .btn--send:active {
    outline: none;
    transform: scale(0.95);
    background-position: right center; }

/* line 99, Z:/project/my_app/public/compile/style.scss */
.btn--ghost {
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  border: none; }

/* line 109, Z:/project/my_app/public/compile/style.scss */
.btn--close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none; }

/* line 121, Z:/project/my_app/public/compile/style.scss */
header.open .mobile_nav {
  left: 0; }

/* line 128, Z:/project/my_app/public/compile/style.scss */
.mobile_nav {
  max-width: 100%;
  position: absolute;
  width: 40rem;
  height: 100%;
  top: 0;
  left: -40rem;
  transition: 0.3s all; }

/* line 139, Z:/project/my_app/public/compile/style.scss */
.desktop_nav .menu {
  position: relative;
  width: 100%;
  flex-direction: row;
  padding: 0; }

/* line 145, Z:/project/my_app/public/compile/style.scss */
.desktop_nav .btn--close {
  display: none; }

/* line 150, Z:/project/my_app/public/compile/style.scss */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0;
  box-sizing: border-box;
  background-color: #494e68;
  list-style: none; }
  /* line 167, Z:/project/my_app/public/compile/style.scss */
  .menu_link {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff; }

/* line 179, Z:/project/my_app/public/compile/style.scss */
.custom_form--feedback {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 186, Z:/project/my_app/public/compile/style.scss */
.what-we-do_item {
  display: flex;
  margin-bottom: 1.5rem; }
  /* line 189, Z:/project/my_app/public/compile/style.scss */
  .what-we-do_item .main-text {
    flex: 1;
    padding-left: 1rem; }

/* line 195, Z:/project/my_app/public/compile/style.scss */
.field-block input, .field-block textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-family: "Comfortaa", Helvetica;
  border: none;
  background-color: #fff;
  border-radius: .2rem;
  margin-bottom: 1rem; }
  /* line 205, Z:/project/my_app/public/compile/style.scss */
  .field-block input:focus, .field-block textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #985e6d; }

/* line 212, Z:/project/my_app/public/compile/style.scss */
.field-block {
  width: 100%;
  max-width: 300px; }
  /* line 215, Z:/project/my_app/public/compile/style.scss */
  .field-block input {
    width: 100%;
    height: 2.5rem; }
  /* line 220, Z:/project/my_app/public/compile/style.scss */
  .field-block textarea {
    height: 5rem; }

/* line 227, Z:/project/my_app/public/compile/style.scss */
.category__dropdown {
  height: 0;
  width: 40rem;
  max-width: 90%;
  background-color: #fff; }

/*# sourceMappingURL=style.css.map */